@using personnel_department_DB.Models;
@model Transfer;
<form asp-controller="employee" asp-action="AddTransfer">
    <div class="mb-3 row">
        <h1>Повышение квалификации (перевод)</h1>
        <label class="col-sm-2 col-form-label">Вид перевода</label>
        <div class="col-sm-6">
            <input asp-for="Type" type="text" class="form-control">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Прежнее место работы</label>
        <div class="col-sm-6">
            <input asp-for=PreviousWork type="text" class="form-control">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Новое место работы</label>
        <div class="col-sm-6">
            <input asp-for=NewWork type="text" class="form-control">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Основание перевода</label>
        <div class="col-sm-6">
            <input asp-for=Reason type="text" class="form-control">
        </div>
    </div>

    <input type="text" asp-for="EmployeeId" value=@ViewBag.EmployeeId hidden>
    <button type="submit" class="btn btn-success">Добавить</button>

</form>
