@model PositionViewModel
<form asp-controller="position" asp-action="Edit">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Должность</span>
        </div>
        <input type="text" asp-for="Name" value=@Model.Name class="form-control" placeholder="Директор" aria-describedby="basic-addon1">

        <input type="text" asp-for="Id" value=@Model.Id hidden>
    </div>

    <button class="btn btn-primary" type="submit">Изменить</button>
</form>